{% extends 'paginas/modelo.html' %}
{% load static %}



{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/aluno_form.css' %}">
{% endblock %}

{% block conteudo %}
       <div class="content-grid">
                <section class="recent-trainings">
                    <h2>Treinos Recentes</h2>
                    <div class="table-container">
                        <table>
                                <tr>
                                    <th>Aluno</th>
                                    <th>Treino</th>
                                    <th>Data</th>
                                    <th>Status</th>
                                </tr>

                             {% for object in object_list %}
        <tr>
            <td>{{ object.nome }}</td>
            <td>{{ object.treino }}</td>
            <td>{{ object.data }}</td>
                        <td>{{ object.status }}</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-outline-dark btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-gear"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li>     <a href="{% url 'aluno_edit' object.id %}" class="btn-edit">
                    <i class="fas fa-edit"></i> Editar
                  </a></li>
                        <li><a class="dropdown-item link-danger" href=""><i class="bi bi-trash"></i> Excluir</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Nenhum registro encontrado.</td>
        </tr>
        {% endfor %}
                        </table>
                    </div>
                </section>
                
                