{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login - Projeto Academia</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <div class="login-container">
        <div class="academia-logo">
            <i class="fas fa-dumbbell"></i>
        </div>
        <h2>Bem vindo a RGN!</h2>
        <p class="academia-slogan">Seja diferente dos outros</p>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="/home/" />
            {% for field in form.visible_fields %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div class="field-error">{{ field.errors|striptags }}</div>
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit"><i class="fas fa-sign-in-alt"></i> Entrar</button>
        </form>
        {% if form.non_field_errors %}
            <div class="error">
                {% for error in form.non_field_errors %}
                    {{ error }}<br>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</body>
</html>